@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	}
body{
	font-family:"宋体";
	color: #FFFFFF;
	font-size: 12px;
	background-color:#191919;
	}
ul li{
	list-style:none;
	}
a{
	text-decoration:none;
	color:#FFFFFF;
	}
.fl{
	float:left;
	}
.fr{
	float:right;
	}
.top{
	background-color: #333333;
	width:100%;
	height:45px;
	}
.zhong{
	width:1140px;
	padding:15px 0px;
	margin-left:auto;
	margin-right:auto;
	}
/*开始top*/
.welcom{
	float:left;
	}
.exit{
	float:right;}
/*结束top*/
.header{
	background-color:#FFFFFF;
	background-repeat:repeat;
	width:100%;

	}
.header_top{
	padding-top:25px;
	padding-bottom:30px;
	width:1140px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;}
.logo{
	float:left;
	}
.kefuqq{
	color: #333333;
	font-family: "微软雅黑";
	font-size: 18px;
	margin-top:23px;
	}
.kefuqq p img{
	margin-left:15px;
	vertical-align:middle;
	}
.nav_bg{
	width:100%;
	height:50px;
	background-color:#ff6476;
	margin-bottom:15px;
	}
.nav{
	width:1140px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;}
.nav ul li{
	float: left;
	width: 132px;
	height: 35px;
	padding-top:15px;
	display: block;
	color: #FFFFFF;
	font-family: "宋体";
	font-size: 16px;
	font-weight: bold;
	word-spacing: 25px;
	}
.nav .cur{
	background-color:#3cded8;
	}
.nav ul li:hover{
	background-color:#3cded8;
	}
.juzhong{
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
	font-family: "宋体";
	padding-bottom:20px;
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	word-spacing: 25px;
	margin-bottom: 0px;
	}
.content{
	width:1140px;
	margin-left:auto;
	margin-right:auto;
	font-family: "宋体";
	font-size: 14px;
	color:#666666;
	font-weight: bold;
	word-spacing: 25px;
	padding-bottom:250px;
	}
.account{
	width:1008px;
	height:113px;
	border:1px solid #e7e7e7;
	margin:30px auto 25px;
	}
.account a{
	}
.balance{
	margin:50px 60px 0px 20px;
	}
.balance span{
	color:ff6476;
	font-family:"微软雅黑";
	font-size: 20px;
	word-spacing: 25px;
	color:#ff6476;
	margin-left:5px;
	margin-right:10px;
	}
.balance b{
	color:#ff6476;
	}
.withdrawal a{
	height:45px;
	width:115px;
	display:block;
	text-align:center;
	background-color:#ff6476;
	}
.withdrawal a:hover{
	background-color:#3cded8;
	}
.withdrawal{
	height:45px;
	width:115px;
	line-height:45px;
	text-align:center;
	color:#FFFFFF;
	margin-top:40px;
	margin-right:35px;
	}
.add{
	height:45px;
	width:130px;
	line-height:45px;
	text-align:center;
	color:#FFFFFF;
	margin-top:40px;
	margin-right:35px;
	}
.add a{
	height:45px;
	width:130px;
	display:block;
	text-align:center;
	background-color:#ff6476;
	}
.add a:hover{
	background-color:#3cded8;
	}
.detail{
	width:1008px;
	height:53px;
	background-color:#f9f9f9;
	border:1px solid #e7e7e7;
	margin:0 auto;
	}
.zi{
	margin:20px 0px 0px 20px;
	}
.leixing{
	margin:20px 0px 0px 20px;
		}
.query{
	font-size: 12px;
	font-weight:normal;
	margin-right:20px;
	padding-top:8px;
	}
.query span{
	margin-left:15px;
	}
.date{
	width:109px;
	height:34px;
	border:1px solid #e7e7e7;
	border-radius:5px;
	margin-right:8px;
	margin-left:8px;
	}
.search{
	float:right;
	background-image:url(images/search.png);
	background-repeat:no-repeat;
	width:68px;
	height:34px;
	margin-left:5px;
	vertical-align:middle;
	border:none;
	cursor:pointer;
	}
.search:hover{
	float:right;
	background-image:url(images/sou.png);
	background-repeat:no-repeat;
	width:68px;
	height:34px;
	margin-left:5px;
	vertical-align:middle;
	border:none;
	cursor:pointer;
	}
.jilu{
	width:1010px;
	height:30px;
	padding-top:20px;
	margin:0 auto;
	}
.jilu p{
	font-size: 12px;
	font-weight:normal;
	padding-left:20px;
	}
.xijie{
	font-size: 12px;
	font-weight:normal;
	width:1008px;
	border:1px solid #e7e7e7;
	margin-bottom:215px;
	margin:0 auto;
	text-align:center;
	}
.xijie .biaoti{
	width:1008px;
	height:33px;
	padding-top:15px;
	background-color:#f9f9f9;
	border:1px solid #e7e7e7;
	text-align:center;
	}

.xijie .xiangqing{
	width:1008px;
	height:30px;
	padding-top:15px;
	border-bottom:1px dashed #e7e7e7;
	text-align:center;
	}
.xijie .xiangqingmo{
	width:1008px;
	height:31px;
	padding-top:15px;
	text-align:center;
	}
.xijie .no{
	color:#ff6476;
	}
.xijie .no a{
	color:#ff6476;
	}
.xijie a{
	color:#999999;
	}
.xijie a:hover{
	color:#ff6476;
	}
.cpage{
    text-align: center;
	padding-top:45px;
    padding-bottom:45px;
    overflow: hidden;
	color:#333333;
    zoom: 1;
}
.cpage a {
    display: inline-block;
    height:30px;
	width:40px;
	padding-top:10px;
    border: 1px solid #cccccc;
    background-color:#FFFFFF;
    margin-left: 15px;
	text-decoration: none;
    color:#333333;
	}
.cpage .cur{
	color:#c98a8a;
	}
.di{
	width:100%;
	height:45px;
	background-color: #333333;
	}
.di p{
	width:1140px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding-top:18px;
	}
.member{
	font-size:16px;
	width:727px;
	height:283px;
	border:1px solid #e7e7e7;
	}
.member_tittle{
	width:727px;
	height:44px;
	background-color:#f9f9f9;
	border:1px solid #e7e7e7;
	}
.zhongxin p{
	font-size:16px;
	color:#666666;
	font-weight:bold;
	margin:15px;
	}
.active{
	height:114px;
	width:695px;
	border-bottom:1px solid #e7e7e7;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	}
.active .biaoge{
	margin-top:30px;
	}
.active table tr td{
	text-align:center;
	padding-top:20px;}
.active .balance {
	font-family: "宋体";
	font-size: 14px;
	font-weight:bold;
	}
.active .balance span{
	font-weight:normal;
	}
.active .balance {
	margin:40px 80px 0px 20px;
	}
.active .withdrawal{
	margin-right:0px;
	margin-top:20px;
	}
.message{
	font-size:16px;
	width:392px;
	height:283px;
	border:1px solid #e7e7e7;
	}
.message_tittle{
	width:392px;
	height:44px;
	background-color:#f9f9f9;
	border:1px solid #e7e7e7;
	}
.xiaoxi {
	width: 355px;
	margin: 20px auto 0px;
	font-family: "宋体";
	font-size: 12px;
	font-weight:normal;
	line-height:23px;
	}
.xiaoxi ul li span{
	width:70px;
	float:right
}
.xiaoxi ul li img{
	vertical-align:middle;
	}

.xiaoxi a:link{
	color:#666666;
	}
.xiaoxi a:visited{
	color:#666666;
	}
.xiaoxi a:hover{
	color:#999999;
	}
.xiaoxi a:active{
	color:#999999;
	}
.process{
	width:1137px;
	border:1px solid #e7e7e7;
	margin-top:20px;
	margin-bottom:50px;
	}
.process_tittle{
	width:1137px;
	height:44px;
	background-color:#f9f9f9;
	border:1px solid #e7e7e7;
	}
.process_tittle p{
	margin:15px;}
.tu{
	padding-top:45px;
	width:1137px;
	overflow:hidden;
	}
.buzhou{
	margin:0px 45px 50px 45px;
	width:170px;
	font-size: 12px;
	line-height:24px;
	text-align:center;
	}
.buzhou h6{
	font-size: 12px;
	font-weight:bold;
	margin-bottom:20px;
	}
.tu .img{
	margin-top:8px;
	}
.tou {
	width:1136px;
	height:44px;
	margin-top:25px;
	background-color:#f9f9f9;
	border:1px solid #e7e7e7;
	}
.tou_nav ul li{
	float: left;
	width: 111px;
	line-height:44px;
	font-weight:normal;
	height: 44px;
	text-align: center;
	display: block;
	font-family: "宋体";
	font-size: 12px;
	}
.tou_nav ul li a{
	width:111px;
	height:44px;
	display:block;
	color:#333333;
	}
.tou_nav ul li:hover{
	background-color:#FFFFFF;
	}
.tou_nav .end{
	background-color:#FFFFFF;
	}
.tou_nav .end a{
	color:#ff6476;
	}
.tou_nav ul li a:hover{
	color:#ff6476;
	}
.xiala{
	margin-right:10px;}
.xiala ul li{
	font-family: "宋体";
	font-size: 12px;
	font-weight:normal;
	float:left;
	margin-right:10px;
	line-height:44px;
	color:#333333;
	}
.xiala ul li select{
	background:#f9f9f9;
    width:55px; 
    border:none;
	font-size: 12px; 
	color:#333333;
	}


.project{
	margin-top:20px;
	border:1px solid #e7e7e7;
	width:1136px;
	color:333333;
	font-size: 12px;
	font-weight:normal;
	font-family: "宋体";
	overflow:hidden;
	}
.h5{
	font-size: 16px;
	font-weight: bold;
	font-family: "宋体";
	}
.project .tg{
	margin:25px 20px 25px;
	overflow:hidden;
	}
.project .tg span{
	color:#ff6476;
	}
.project .tg img{
	vertical-align:middle;
	margin-right:7px;
	}
.project .tg b{
	margin:8px;
	}
.tupian{
	margin:0px 20px 30px 20px;
	text-align:center;
	}
.tupian input{
	width:113px;
	height:41px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14px;
	border:none;
	background-color:#ff6476;
	margin-top:20px;
	cursor:pointer;
	}
.tupian input:hover{
	background-color:#3cded8;	
	}
.introduce{
	font-size:14px;
	width:820px;
	line-height:25px;
	}
.introduce tr{
	psdding-top:200px;
	font-size:14px;
	line-height:30px;
	color:#333333;
	}
.duanluo{
	margin-top:20px;
	border-top:1px solid #e7e7e7;
	width:820px;
	}
.duanluo p{
	margin-top:20px;
	line-height:25px;
	}
.duanluo p span{
	font-weight:bold;
	}
.dingdan{
	width:1136px;
	height:52px;
	font-size: 12px;
	font-weight:normal;
	background-color:#f9f9f9;
	border:1px solid #e7e7e7;
	margin:0 auto;
	}
.dingdan .xuan{
	margin-left:18px;
	margin-top:6px;
	}
.dingdan .xuan .duoxuan{
	width:75px;
	height:40px;
	border-radius:5px;
	border:1px solid #e7e7e7;
	}

.dingdan .xuan .yi{
	width:109px;
	height:34px;
	color:#999999;
	border:1px solid #e7e7e7;
	border-radius:5px;
	margin-right:8px;
	margin-left:8px;
	}
.tianjia{
	width:75px;
	height:40px;
	border-radius:5px;
	margin-top:5px;
	margin-right:18px;
	border:1px solid #e7e7e7;
	background-color:#ff6476;
	color:#FFFFFF;
	font-weight:bold;
	cursor:pointer;
	}
.tianjia:hover{
	background-color:#3cded8;
	}
.so {
	float:right;
	background-image:url(images/search.png);
	background-repeat:no-repeat;
	width:68px;
	height:34px;
	margin-left:2px;
	margin-top:2px;
	border:none;
	cursor:pointer;
	}
.so:hover {
	background-image:url(images/sou.png);
	}
.zhanghu{
	width:1136px;
	height:30px;
	padding-top:20px;
	margin:0 auto;
	}
.zhanghu p{
	font-size: 12px;
	font-weight:normal;
	padding-left:20px;
	}
.zixun{
	font-size: 12px;
	font-weight:normal;
	width:1136px;
	border:1px solid #e7e7e7;
	margin:0 auto;
	text-align:center;
	}
.zixun .biaoti{
	width:1136px;
	height:44px;
	padding-top:15px;
	background-color:#f9f9f9;
	border:1px solid #e7e7e7;
	text-align:center;
	}
.zixun .xiangqing{
	width:1136px;
	height:75px;
	margin-top:35px;
	border-bottom:1px dashed #e7e7e7;
	}
.zixun .xiangqingmo{
	width:1136px;
	height:75px;
	margin-top:35px;
	}
.zixun table tr td{
	text-align:center;
	line-height:20px;
	}
.zixun .ing{
	color:#ff6476;
	}
.zixun .lan{
	color:#0099ff;
	}
.zixun .lan a{
	color:#0099ff;
	}
.zixun .lan a:hover{
	color:#ff6476;
	}
.neirong{
	width:800px;
	margin-top:50px;
	font-size:14px;
	font-family:"宋体";
	font-weight:bold;
	color:#666666;
	overflow:hidden;
	}
.neirong .main_nav{
	width:425px;
	margin-left:380px;
	}
.main_nav{
	margin-left:18px;
	height:35px;
	width:370px;
	margin-top:30px;
	margin-bottom:15px;
	}
.main_nav li{
	float:left;
	width:150px;
	height:35px;
	margin-left:10px;
	margin-right:50px;
	display:block;
	}
.main_nav .cur a:link,.main_nav .cur a:visited,.main_nav .cur a:hover,.main_nav .cur a:active{
	width:150px;
	display:block;
	height:35px;
	color:#ff6476;
	background-image:url(images/de_bg.jpg);
	}

.main_nav li a:link{
	color:#666666;
	width:150px;
	display:block;
	text-align:center;
	height:35px;
	}
.main_nav li a:visited{
	width:150px;
	display:block;
	height:35px;
	color:#666666;
	}
.main_nav li a:hover{
	width:150px;
	display:block;
	height:35px;
	color:#ff6476;
	background-image:url(images/de_bg.jpg);
	}
.neirong .form1{
	width:600px;
	margin-left:190px;
	text-align:right;
	}

.neirong .form1 input{
	width:425px;
	height:50px;
	margin-bottom:20px;
	border-radius:5px;
	border:1px solid #cccccc;
	}
.neirong .quren{
	width: 425px;
	margin-left:365px;
	margin-bottom:50px;
	margin-top:15px;
	}
.neirong .tijiao{
	width: 425px;
	height: 50px;
	background-color: #ff6476;
	border-radius: 5px;
	border:none;
	font-size: 16px;
	font-weight: bold;
	color:#FFFFFF;
	}
.neirong .tijiao:hover{
	background-color: #3cded8;
	}
.neirong .tijiao2{
	width: 425px;
	height: 50px;
	margin-bottom:195px;
	background-color: #ff6476;
	border-radius: 5px;
	border:none;
	font-size: 16px;
	font-weight: bold;
	color:#FFFFFF;
	}
.neirong .tijiao2:hover{
	background-color: #3cded8;
	}
.weizhi{
	font-size:12px;
	color:#333333;
	font-weight:normal;
	margin-top:20px;
	}
.weizhi a{
	font-size:12px;
	color:#333333;
	font-weight:normal;
	margin-right:5px;
	margin-left:5px;
	}
.weizhi span{
	font-weight:bold;}
.wen{
	margin-bottom:20px;
	width:1136px;
	padding-bottom:100px;
	border:1px solid #e7e7e7;
	margin-top:15px;
	font-weight:normal;
	color:#333333;
	text-align:center;
	}
.wen h1{
	color: #ff6476;
	font-family: "微软雅黑";
	font-size: 18px;
	margin-top:40px;
	font-weight:normal;
	}
.wen h6{
	margin-top:25px;
	color:#666666;
	}
.wen p{
	width:1030px;
	line-height:25px;
	margin:25px auto 0px;
	text-align:left;
	}
.biao{
	width:1136px;
	font-size:12px;
	margin-bottom:200px;
	border:1px solid #e7e7e7;
	margin-top:15px;
	line-height:45px;
	font-weight:normal;
	text-align:center;
	color:#333333;
	}
.biaotou{
	width:1136px;
	height:44px;
	border:1px solid #f9f9f9;
	background-color:#f9f9f9;
	}
.biaotou table{
	margin-left:auto;
	margin-right:auto;}
.biaorong{
	width:1096px;
	height:44px;
	margin-left:auto;
	margin-right:auto;
	border-bottom:1px dashed #f9f9f9;
	text-align:left;
	}
.biao table a{
	color:#333333;
	}
.biao table a:hover{
	color:#999999;
	}
.biaorong table{
	margin-left:18px;
	}
.biaorongmo table{
	margin-left:18px;
	}
.biaorongmo{
	width:1096px;
	height:44px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	}
.biao2{
	width:1136px;
	margin-bottom:30px;
	border:1px solid #e7e7e7;
	margin-top:15px;
	line-height:45px;
	font-weight:normal;
	text-align:center;
	font-size: 14px;
	font-weight: bold;
	color:#666666;
	}
.addshoukuan{
	margin:50px auto 90px;
	width:1136px;
	color: #666666;
	font-size: 14px;
	font-weight: bold;
	}
.textkuang{
	width: 560px;
	margin-left:220px;
	}
.textkuang p{
	text-align:right;
	margin-bottom:20px;
	}
.textkuang p input{
	width:425px;
	height:50px;
	border-radius:5px;
	border:1px solid #cccccc;
	}
.annw{
	width: 560px;
	margin-left:60px;
	}
.annw input{
	width:89px;
	height:26px;
	background-color:#f3f3f3;
	border:1px solid #d9d9d9;
	cursor:pointer;
	}
.annw input:hover{
	width:89px;
	height:26px;
	background-color:#E5E5E5;
	border:1px solid #d9d9d9;
	}
.sub{
	width:425px;
	margin-left:355px;
	}
.textkuang h6{
	margin-left:60px;
	font-size:12px;
	font-weight:normal;
	}
.sub input{
	width: 425px;
	height: 50px;
	background-color: #ff6476;
	border-radius: 5px;
	border:none;
	font-size: 16px;
	font-weight: bold;
	color:#FFFFFF;
	}
.sub input:hover{
	background-color:#3cded8;
	}
.biao2 span{
	color:#ff3300;
	}
.touxiang{
	height:145px;
	margin:50px 0px 20px 270px;
	}
.zi2{
	float:left;
	}
.ren{
	float:left;
	margin-right:20px;
	}
.anniu{
	float:left;
	margin-top:80px;
	}
.anniu input{
	width:79px;
	height:26px;
	background-color:#f3f3f3;
	border:1px solid #d9d9d9;
	cursor:pointer;
	}
.anniu input:hover{
	background-color:#E5E5E5;
	}
.textkuang2{
	width:500px;
	text-align:right;
	margin-left:130px;
	}
.textkuang2 input{
	width:276px;
	height:50px;
	border-radius:5px;
	border:1px solid #cccccc;
	}
.textkuang2 p{
	margin-bottom:20px;
	}
.raw{
	width:200px;
	margin-left:270px;
	}
.sele{
	margin-right:90px;
	}
.sele p{
	margin-bottom:20px;}
.sele select{
	border-radius:5px;
	border:1px solid #cccccc;
	}
.sele1 select{
	width:125px;
	height:47px;
	margin-right:-10px;
	}
.sele2 select{
	width:425px;
	height:50px;
	}
.duoxuan{
	width:1100px;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	}
.duoxuan .wenzi1{
	float:left;
	margin-left:190px;
	}
.duoxun ul li{
	width: 63px;
	height: 24px;
	border: 1px solid #d9d9d9;
	}
.duoxuan ul li a{
	float:left;
	width:63px;
	height:24px;
	background-color:#f9f9f9;
	border:1px solid #d9d9d9;
	color:#666666;
	font-size: 12px;
	line-height:24px;
	margin-right:16px;
	margin-bottom:10px;
	font-weight: normal;
	display:block;
	}
.duoxuan ul li a:hover{
	background-color:#ff6476;
	border:1px solid #ff6476;
	color:#FFFFFF;
	}
.duoxuan .dxk{
	float:left;
	width:634px;
	padding:16px 0px 0px 20px;
	border-radius:5px;
	border:1px solid #cccccc;
	margin-bottom:20px;
	overflow:hidden;
	}
.duoxuan .wenzi2{
	float:left;
	margin-left:130px;
	}
.duoxuan .wenzi3{
	float:left;
	margin-left:190px;
	}
.duoxuan h6{
	margin-right:150px;
	line-height:20px;
	margin-bottom:20px;
	color:#999999;
	font-size: 12px;
	font-weight: normal;
	}
.kind{
	width:650px;
	overflow:hidden;
	}
.kind ul{
	float:left;
	width:610px;
	overflow:hidden;
	}
.kind h5{
	width:40px;
	float:left;
	font-size: 12px;
	line-height:24px;
	font-weight: normal;
	}
.link{
	margin-top:-20px;
	margin-right:270px;}
.link a{
	font-size: 12px;
	color: #1d8fd1;
	line-height:20px;
	text-decoration: underline;
	}
.wenben{
	width:800px;
	margin-left:240px;
	}
.wenben p{
	margin-bottom:20px;
	}
.wenben input{
	width:652px;
	height:81px;
	border:1px solid #cccccc;
	}
.sub2{
	margin-right:150px;
	margin-bottom:50px;}
.sub2 input{
	margin-left:135px;
	width: 425px;
	height: 50px;
	background-color: #ff6476;
	border-radius: 5px;
	border:none;
	font-size: 16px;
	font-weight: bold;
	color:#FFFFFF;
	}
.sub2 input:hover{
	background-color: #3cded8;
	}	
/*tianchu*/	
	
#alert{position:fixed;
	_position: absolute;
	_top: expression(documentElement.scrollTop + 340 + "px");
	 background:#fff;
	 width:677px;
	 height:506px;
	 top: 50%;
	 left: 50%;
	 margin: -200px 0 0 -250px;
	 overflow:hidden;
	 z-index:99999;
	 display:none; 
	 }	
.alert_c{
	font-size: 14px;
	font-weight: bold;
	color:#666666;
	margin:12px;
	text-align:center;
	}
.close{
	margin-top:15px;
	}
h4{
	padding-top:30px;
	color: #000000;
	font-family: "微软雅黑";
	font-size: 20px;
	margin-top:15px;
	}
.jietu{
	padding-top: 50px;
	width: 500px;
	margin: auto;
	overflow: hidden;
	line-height: 20px;
	}	
.qingchu{
	clear:both;
	width:0px;
	height:0px;
	overflow:hidden;
	}
.anniu2{
	float:left;
	margin-top:35px;}
.anniu2 input{
	width:79px;
	height:26px;
	background-color:#f3f3f3;
	border:1px solid #d9d9d9;
	}
.anniu2 input:hover{
	background-color:#E5E5E5;
	}
.anniu2 p{
	margin-bottom:15px;
	}
.tishi{
	margin-left:150px;
	text-align:left;
	line-height:40px;
	font-size: 12px;
	font-weight: normal;
	margin-bottom:10px;
	color: #999999;
	}
.wzlj input{
	width:423px;
	height:48px;
	border:1px solid #d9d9d9;
	border-radius:5px;
	}
.sub3{
	margin-bottom:55px;
	}
.sub3 input{
	margin-left:70px;
	width: 425px;
	height: 50px;
	background-color: #ff6476;
	border-radius: 5px;
	border:none;
	font-size: 16px;
	font-weight: bold;
	color:#FFFFFF;
	}
.sub3 input:hover{
	background-color:#3cded8;
	}